In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob
import os
import json
from datetime import datetime

In [ ]:
with open('RXZlbnRJbmZvcm1hdGlvbjo0OWQ4M2I3MS1kNDZmLTRiYjMtODJkYy1kMTE0MDg4OTBkOGQ=.json','r') as f:
         data = json.loads(f.read())
         # Flatten data
         data1= pd.json_normalize(data)
         data2= pd.json_normalize(data)

In [ ]:
for i in glob.glob('C:/Users/chandra.gorripat/Desktop/all/refine data/*[0-9][0-9][0-9]'):
    json_files = glob.glob(os.path.join(i, "*.json"))
    csv_files = glob.glob(os.path.join(i, "*.csv"))
    print(i)
    for f in json_files:
        #print(f)
        t=f[:-4]+'csv'
        #print(t)
        data1df1=pd.read_csv(t)
        #print(df1)
        with open(f,'r') as f:
         data1data = json.loads(f.read())
         # Flatten data
         data1df2 = pd.json_normalize(data1data)
        #*********************************************************************************
        data1df2['min_sum']=data1df1['sum'].min()
        data1df2['max_sum']=data1df1['sum'].max()
        data1df2['mean_sum']=data1df1['sum'].mean()
        data1df2['std_sum']=data1df1['sum'].std()
        data1df2['duration_of_event']=data1df1['timestamp'].max()
        #shits**************************************
        data1df1['max_l']=0
        data1df1['min_l']=0
        for i in range(data1df1.shape[0]):
            a=data1df1['lc0'][i]
            b=data1df1['lc1'][i]
            c=data1df1['lc2'][i]
            d=data1df1['lc3'][i]
            if max(a,b,c,d)==a:
                data1df1['max_l'][i]=1
            if max(a,b,c,d)==b:
                data1df1['max_l'][i]=2
            if max(a,b,c,d)==c:
                data1df1['max_l'][i]=3    
            if max(a,b,c,d)==d:
                data1df1['max_l'][i]=4
            if min(a,b,c,d)==a:
                data1df1['min_l'][i]=1
            if min(a,b,c,d)==b:
                data1df1['min_l'][i]=2
            if min(a,b,c,d)==c:
                data1df1['min_l'][i]=3    
            if min(a,b,c,d)==d:
                data1df1['min_l'][i]=4 
                
        
        count_max_shift=0
        count_max_shift1=0
        count_max_shift2=0
        count_max_shift3=0
        count_min_shift=0
        count_min_shift1=0
        count_min_shift2=0
        count_min_shift3=0
        interval1=data1df1.shape[0]//3+1
        interval2=2*(data1df1.shape[0]//3)+1

        for i in range(1,data1df1.shape[0]):
            if data1df1['max_l'][i]!=data1df1['max_l'][i-1]:
                 count_max_shift=count_max_shift+1
                 if i<interval1:
                    count_max_shift1=count_max_shift1+1
                 elif i>=interval1 and i<interval2:
                    count_max_shift2=count_max_shift2+1
                 else:
                    count_max_shift3=count_max_shift3+1
            if data1df1['min_l'][i]!=data1df1['min_l'][i-1]:
                 count_min_shift=count_min_shift+1 
                 if i<interval1:
                    count_min_shift1=count_min_shift1+1
                 elif i>=interval1 and i<interval2:
                    count_min_shift2=count_min_shift2+1
                 else:
                    count_min_shift3=count_min_shift3+1
                    
        #**********************************************************************************
        data1df2['count_max_shift']=count_max_shift
        data1df2['count_max_shift_1']=count_max_shift1
        data1df2['count_max_shift_2']=count_max_shift2
        data1df2['count_max_shift_3']=count_max_shift3
        
        data1df2['count_min_shift']=count_min_shift
        data1df2['count_min_shift_1']=count_min_shift1
        data1df2['count_min_shift_2']=count_min_shift2
        data1df2['count_min_shift_3']=count_min_shift3
        data1=data1.append(data1df2)

In [ ]:
data1

In [ ]:
for i in glob.glob('C:/Users/chandra.gorripat/Desktop/all/refine data/*[0-9][0-9][0-9]'):
    json_files = glob.glob(os.path.join(i, "*.json"))
    csv_files = glob.glob(os.path.join(i, "*.csv"))
    print(i)
    for f in json_files:
        #print(f)
        t=f[:-4]+'csv'
        #print(t)
        data2df1=pd.read_csv(t)
        #print(df1)
        with open(f,'r') as f:
         data2data = json.loads(f.read())
         # Flatten data
         data2df2 = pd.json_normalize(data2data)
        #*********************************************************************************
        data2df2['min_sum']=data2df1['sum'].min()
        data2df2['max_sum']=data2df1['sum'].max()
        data2df2['mean_sum']=data2df1['sum'].mean()
        data2df2['std_sum']=data2df1['sum'].std()
        data2df2['duration_of_event']=data2df1['timestamp'].max()
        ########################################
        
        data2df1['new_sum']=(data2df1['sum']//10)*10
        arr=data2df1['new_sum'].unique()
        element,count=arr[0],data2df1[data2df1['new_sum']==arr[0]].shape[0]
        for i in range(1,len(arr)):
              tc=data2df1[data2df1['new_sum']==arr[i]].shape[0]
              if tc>count:
                element=arr[i]
                count=tc 
        
        interval1=data2df1.shape[0]//3+1
        interval2=2*(data2df1.shape[0]//3)+1
        data2df11=data2df1[0:interval1]
        data2df12=data2df1[interval1:interval2]
        data2df13=data2df1[interval2:]
        
        arr1=data2df11['new_sum'].unique()
        element1,count1=arr1[0],data2df11[data2df11['new_sum']==arr1[0]].shape[0]
        for i in range(1,len(arr1)):
              tc1=data2df11[data2df11['new_sum']==arr1[i]].shape[0]
              if tc1>count1:
                element1=arr1[i]
                count1=tc1 
        
        arr2=data2df12['new_sum'].unique()
        element2,count2=arr2[0],data2df12[data2df12['new_sum']==arr2[0]].shape[0]
        for i in range(1,len(arr2)):
              tc2=data2df12[data2df12['new_sum']==arr2[i]].shape[0]
              if tc2>count2:
                element2=arr2[i]
                count2=tc2 
        
        arr3=data2df13['new_sum'].unique()
        element3,count3=arr3[0],data2df13[data2df13['new_sum']==arr3[0]].shape[0]
        for i in range(1,len(arr3)):
              tc3=data2df13[data2df13['new_sum']==arr3[i]].shape[0]
              if tc3>count3:
                element3=arr3[i]
                count3=tc3        
        
        data2df2['min_sum_1']=data2df11['sum'].min()
        data2df2['max_sum_1']=data2df11['sum'].max()
        data2df2['mean_sum_1']=data2df11['sum'].mean()
        data2df2['std_sum_1']=data2df11['sum'].std()
        
        data2df2['min_sum_2']=data2df12['sum'].min()
        data2df2['max_sum_2']=data2df12['sum'].max()
        data2df2['mean_sum_2']=data2df12['sum'].mean()
        data2df2['std_sum_2']=data2df12['sum'].std()
        
        data2df2['min_sum_3']=data2df13['sum'].min()
        data2df2['max_sum_3']=data2df13['sum'].max()
        data2df2['mean_sum_3']=data2df13['sum'].mean()
        data2df2['std_sum_3']=data2df13['sum'].std()
        
        data2df2['max_10_dev']=element 
        data2df2['max_10_dev_1']=element1
        data2df2['max_10_dev_2']=element2
        data2df2['max_10_dev_3']=element3
        data2df2['max_10_dur']=count/40
        data2df2['max_10_dur_1']=count1/40
        data2df2['max_10_dur_2']=count2/40
        data2df2['max_10_dur_3']=count3/40

        data2=data2.append(data2df2)

In [ ]:
data2

In [ ]:
data1.reset_index(inplace=True)
data2.reset_index(inplace=True)

In [ ]:
data1.drop(index=0,inplace=True)
data2.drop(index=0,inplace=True)

In [ ]:
data1.reset_index(inplace=True)
data2.reset_index(inplace=True)

In [ ]:
data1.drop(['index','level_0'],axis=1,inplace=True)
data2.drop(['index','level_0'],axis=1,inplace=True)

In [ ]:
data1.drop(['Free_text','Tags','Name_of_cat','Weight_of_cat','min_sum','max_sum','mean_sum','std_sum','duration_of_event'],axis=1,inplace=True)
data2.drop(['Device_ID','Event_start_time','Free_text','Tare_weight'],axis=1,inplace=True)

In [ ]:
df=pd.merge(data1,data2, how ='left', on ='Event_ID')

In [ ]:
df

In [ ]:
for i in range(df.shape[0]):
    df['Event_start_time'][i]=df['Event_start_time'][i][2:-6]
    df['Event_start_time'][i]=df['Event_start_time'][i].replace('-','/')
    df['Event_start_time'][i]=df['Event_start_time'][i].replace('T',' ')

In [ ]:
for i in range(df.shape[0]):
        datetime_str =df['Event_start_time'][i] 
        df['Event_start_time'][i] = datetime.strptime(datetime_str, '%y/%m/%d %H:%M:%S')

In [ ]:
df['Total_Tare_weight']=0

In [ ]:
for i in range(df.shape[0]):
    df['Total_Tare_weight'][i]=df['Tare_weight'][i][0]+df['Tare_weight'][i][1]+df['Tare_weight'][i][2]+df['Tare_weight'][i][3]

In [ ]:
df['hour_day']=0
for i in range(df.shape[0]):
    df['hour_day'][i]=df['Event_start_time'][i].hour

In [ ]:
for i in range(df.shape[0]):
    df['Weight_of_cat'][i]=int(df['Weight_of_cat'][i])

In [ ]:
df[df['Weight_of_cat']==0]

In [ ]:
df.drop(index=2823,inplace=True)
df.drop(index=2950,inplace=True)
df.drop(index=10997,inplace=True)

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df.drop(['index'],axis=1,inplace=True)

In [ ]:
df['ratio_10_weight']=(df['Total_Tare_weight']-df['max_10_dev'])/df['Weight_of_cat']
df['ratio_10_1_weight']=(df['Total_Tare_weight']-df['max_10_dev_1'])/df['Weight_of_cat']
df['ratio_10_2_weight']=(df['Total_Tare_weight']-df['max_10_dev_2'])/df['Weight_of_cat']
df['ratio_10_3_weight']=(df['Total_Tare_weight']-df['max_10_dev_3'])/df['Weight_of_cat']

df['ratio_min_weight']=(df['Total_Tare_weight']-df['min_sum'])/df['Weight_of_cat']
df['ratio_min_1_weight']=(df['Total_Tare_weight']-df['min_sum_1'])/df['Weight_of_cat']
df['ratio_min_2_weight']=(df['Total_Tare_weight']-df['min_sum_2'])/df['Weight_of_cat']
df['ratio_min_3_weight']=(df['Total_Tare_weight']-df['min_sum_3'])/df['Weight_of_cat']

In [ ]:
df['max_10_dur_ratio']=df['max_10_dur']/df['duration_of_event']
df['max_10_dur_1_ratio']=3*(df['max_10_dur_1']/df['duration_of_event'])
df['max_10_dur_2_ratio']=3*(df['max_10_dur_2']/df['duration_of_event'])
df['max_10_dur_3_ratio']=3*(df['max_10_dur_3']/df['duration_of_event'])

df['count_max_shift_freq']=df['count_max_shift']/df['duration_of_event']
df['count_max_shift_1_freq']=3*(df['count_max_shift_1']/df['duration_of_event'])
df['count_max_shift_2_freq']=3*(df['count_max_shift_2']/df['duration_of_event'])
df['count_max_shift_3_freq']=3*(df['count_max_shift_3']/df['duration_of_event'])

df['count_min_shift_freq']=df['count_max_shift']/df['duration_of_event']
df['count_min_shift_1_freq']=3*(df['count_min_shift_1']/df['duration_of_event'])
df['count_min_shift_2_freq']=3*(df['count_min_shift_2']/df['duration_of_event'])
df['count_min_shift_3_freq']=3*(df['count_min_shift_3']/df['duration_of_event'])

In [ ]:
df['std_sum']=df['std_sum']/df['Total_Tare_weight']
df['std_sum_1']=df['std_sum_1']/df['Total_Tare_weight']
df['std_sum_2']=df['std_sum_2']/df['Total_Tare_weight']
df['std_sum_3']=df['std_sum_3']/df['Total_Tare_weight']

In [ ]:
df['min_sum']=(df['min_sum']/df['Total_Tare_weight'])
df['max_sum']=(df['max_sum']/df['Total_Tare_weight'])
df['mean_sum']=(df['mean_sum']/df['Total_Tare_weight'])
df['max_10_dev']=(df['max_10_dev']/df['Total_Tare_weight'])

df['min_sum_1']=(df['min_sum_1']/df['Total_Tare_weight'])
df['max_sum_1']=(df['max_sum_1']/df['Total_Tare_weight'])
df['mean_sum_1']=(df['mean_sum_1']/df['Total_Tare_weight'])
df['max_10_dev_1']=(df['max_10_dev_1']/df['Total_Tare_weight'])

df['min_sum_2']=(df['min_sum_2']/df['Total_Tare_weight'])
df['max_sum_2']=(df['max_sum_2']/df['Total_Tare_weight'])
df['mean_sum_2']=(df['mean_sum_2']/df['Total_Tare_weight'])
df['max_10_dev_2']=(df['max_10_dev_2']/df['Total_Tare_weight'])

df['min_sum_3']=(df['min_sum_3']/df['Total_Tare_weight'])
df['max_sum_3']=(df['max_sum_3']/df['Total_Tare_weight'])
df['mean_sum_3']=(df['mean_sum_3']/df['Total_Tare_weight'])
df['max_10_dev_3']=(df['max_10_dev_3']/df['Total_Tare_weight'])

In [ ]:
df['elimination']=0
for i in range(df.shape[0]):
    if 'urination' in df['Tags'][i]:
        df['elimination'][i]=1
    if 'defecation' in df['Tags'][i]:
        df['elimination'][i]=1

In [ ]:
df.to_csv('final.csv')